<div
  id="page-container"
  class="
    enable-page-overlay
    side-scroll
    main-content-narrow
    page-header-fixed
    sidebar-o
    side-trans-enabled
  "
  [ngClass]="{ 'side-overlay-o': asideMenu, 'sidebar-o sidebar-o-xs': sidebar ,'page-header-dark sidebar-dark':theme==='dark'}"
>
  <aside id="side-overlay" class="overflow-auto">
    <app-core-rightnav></app-core-rightnav>
  </aside>

  <nav id="sidebar" aria-label="Main Navigation" >
    <app-core-sidenav></app-core-sidenav>
  </nav>

  <header id="page-header">
    <app-core-header></app-core-header>
  </header>

  <main id="main-container">
    <div class="content content-full px-0">
    <loader-spinner></loader-spinner>
    <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-core-alerts></app-core-alerts>