<!--
    <app-sidebar  #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
      </app-sidebar>

  -->
        <!-- Side Header -->
        <div *ngIf="role==='admin'||role==='owner'">

          <div class="bg-header-dark">
            <div class="content-header bg-white-5">
              <!-- Logo -->
              <a class="fw-semibold text-white tracking-wide" href="index.html">
                <span class="smini-visible">
                  A<span class="opacity-75">R</span>
                </span>
                <span class="smini-hidden">
                  APD<span class="opacity-75">TR</span>
                </span>
              </a>
              <!-- END Logo -->
  
              <!-- Options -->
              <div>
                <!-- Toggle Sidebar Style -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <!-- Class Toggle, functionality initialized in Helpers.dmToggleClass() -->
                <button type="button" class="btn btn-sm btn-alt-secondary" (click)="changeTheme()" data-toggle="class-toggle" data-target="#sidebar-style-toggler" data-class="fa-toggle-off fa-toggle-on">
                  <i class="fa" [ngClass]="theme==='dark'?'fa fa-toggle-on':'fa-toggle-off'" id="sidebar-style-toggler"></i>
                </button>
                <!-- END Toggle Sidebar Style -->
                <!-- Dark Mode -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="class-toggle" data-target="#dark-mode-toggler" data-class="far fa" onclick="Dashmix.layout('dark_mode_toggle') ;">
                  <i class="far fa-moon" id="dark-mode-toggler"></i>
                </button>
                <!-- END Dark Mode -->
  
                <!-- Close Sidebar, Visible only on mobile screens -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <button type="button" class="btn btn-sm btn-alt-secondary d-lg-none" data-toggle="layout" data-action="sidebar_close"(click)="sidebarService.toogle(false)" >
                  <i class="fa fa-times-circle"></i>
                </button>
                <!-- END Close Sidebar -->
              </div>
              <!-- END Options -->
            </div>
          </div>
          <!-- END Side Header -->
  
          <!-- Sidebar Scrolling -->
          <div class="js-sidebar-scroll overflow-auto">
            <!-- Side Navigation -->
            <div class="content-side">
              <ul class="nav-main">
                <li class="nav-main-item">
                  <a class="nav-main-link" href="be_pages_dashboard.html">
                    <i class="nav-main-link-icon fa fa-location-arrow"></i>
                    <span class="nav-main-link-name">Dashboard</span>
                    <span class="nav-main-link-badge badge rounded-pill bg-primary">8</span>
                  </a>
                </li>
                <div *ngFor="let atajo of navItems">
                  <li class="nav-main-heading">{{atajo.name}}</li>
                  <li class="nav-main-item" *ngFor="let child of atajo.children">
                    <a class="nav-main-link" [routerLink]="child.url">
                      <i class="nav-main-link-icon" [ngClass]="child.icon"></i>
                      <span class="nav-main-link-name">{{child.name}}</span>
                    </a>
                  </li>
                </div>
              </ul>
            </div>
            <!-- END Side Navigation -->
          </div>
          <!-- END Sidebar Scrolling -->
      </div>
      <div *ngIf="role==='medico'">
        <medico-sidenav></medico-sidenav>
      </div>