<div class="overlay">
    <div class="row justify-content-center">
   <div class="center">
       <div class="col-12">
         <img src="assets/img/brand/firstSpinner.svg">
       </div>     
       <div class="col-12">
       <label>
         <h3>
           DHARMA version: {{version}} - {{fecha}}
         </h3>
       </label>
       </div>
       <div class="col-12">
 <label>
   <h4>
     Desarrollado por  <strong style="color:rgb(223, 87, 87)">giornn0</strong>
   </h4>
 </label>
     </div>
     </div>
   </div>
 </div>