<div class="overlay-loader" *ngIf="spinner ">
    <div class="center text-white">
      <div class="col-12">
        <label><h1>Cargando</h1></label>
        <img src="assets/img/brand/ellipsis-loading.svg" />
      </div>
      <div class="col-12">
        <label>
          <h3>ASDIAL version: {{ version }} - {{ fecha }}</h3>
        </label>
      </div>
      <div class="col-12">
        <label>
          <h4>
            Desarrollado por
            <strong class="text-dark">Inter-Neg</strong>
          </h4>
        </label>
      </div>
    </div>
</div>