// Here you can add other styles

.strong-font{
    font-weight:500;
}
  .icon-home{
    font-weight:bold;
    transform: scale(1.5);
  }
  .fa-address-book-o{
    font-weight:300;
    transform: scale(1.5);
  }
  .fa-user-md{
    font-weight:300;
    transform: scale(1.5);
  }
  .fa-institution{
    font-weight:300;
    transform: scale(1.5);
  }
  .fa-paint-brush{
    font-weight:300;
    transform: scale(1.5);
  }
  .fa-database{
    font-weight:300;
    transform: scale(1.0);
  }
  .fa-user{
    font-weight:300;
    transform: scale(1.5);
  }
  body{
    font-family: "Nunito Sans", sans-serif, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .font-fam{
    font-family: "Nunito Sans", sans-serif, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

//   .list:hover{
//     transform: scale(1.005);
//  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
// }
.btn:hover{
  transform: scale(1.005);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.dif-hover{
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  color: gray;
  text-align:start;
  text-justify: center;
}

.dif-hover:hover{
  color: azure ;
  background-color: #2255a4;
}