// Here you can add other styles

.strong-font{
    font-weight:500;
}
 body{
    font-family: "Nunito Sans", sans-serif, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .font-fam{
    font-family: "Nunito Sans", sans-serif, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

//   .list:hover{
//     transform: scale(1.005);
//  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
// }

.show-image{
  color: #e6b0b0; 
  border-radius: 5%;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
-ms-transition: all .3s ease-in;
-o-transition: all .3s ease-in;
transition: all .3s ease-in;
opacity: 1;
transform: scale(3.85);
position :fixed;
margin-left: auto;
margin-right: auto;
left: 7.5%;
top: 40%;
right: 0;
text-align: center;
z-index: 10001 !important;
-ms-transform: scale(1.15); /* IE 9 */
-webkit-transform: scale(3.85);
}
.btn:hover{
  transform: scale(1.005);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}